<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/styles/index.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Casa</title>
</head>
<body class="bg">
    <!--Header-->
    <%- include("partials/header.ejs") %>


    <!--Posts-->
    <% if (uploadedData && uploadedData.length > 0) { %>
    <main>
        <section class="py-5 text-center container">
            <div class="row ">
                <div class="col-lg-7 col-md-8 mx-auto">
                    <h1 class="display-5 fw-bold lh-1 mb-3 text blueText"><u>Explore what people have to offer</u></h1>
                </div>
            </div>
        </section>

            <!--Search Box-->
            <form id="searchForm" action="/search" method="get" class="" style="display: flex; align-content: center;">
                <input type="text" name="city" placeholder="City">
                <input type="text" name="town" placeholder="Town">
                <input type="number" name="beds" placeholder="Beds">
                <input type="number" name="bath" placeholder="Bath">
                <input type="number" name="size" placeholder="Size">
                <button type="submit">Search</button>
            </form>
            

        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <% uploadedData.forEach((data, index) => { %>
                    <div class="col">
                        <div class="card shadow-sm cardHeight">
                            <% if (data.pictures && data.pictures.length > 0) { %>
                                <div id="carousel<%= index %>" class="carousel slide mb-6">
                                    <div class="carousel-indicators">
                                        <% data.pictures.forEach((_, picIndex) => { %>
                                            <button 
                                                type="button" 
                                                data-bs-target="#carousel<%= index %>" 
                                                data-bs-slide-to="<%= picIndex %>" 
                                                class="<%= picIndex === 0 ? 'active' : '' %>" 
                                                aria-current="<%= picIndex === 0 ? 'true' : 'false' %>" 
                                                aria-label="Slide <%= picIndex + 1 %>">
                                            </button>
                                        <% }) %>
                                    </div>
                                    <div class="carousel-inner">
                                        <% data.pictures.forEach((picture, picIndex) => { %>
                                            <div class="carousel-item <%= picIndex === 0 ? 'active' : '' %>">
                                                <img src="<%= picture %>" class="d-block w-100" alt="Image">
                                                <div class="container">
                                                    
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= index %>" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= index %>" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            <% } %>
                            <div class="card-body">
                                <p class="card-text">
                                    <%= data.buildingName %>. 
                                </p>
                                <hr>
                                <p class="card-text">
                                    <%= data.city %>,  <%= data.town %>,  <%= data.address %>
                                </p>
                            </div>
                            <button type="button" class="btn btn-sm btn-outline-secondary viewButton"
                                onclick="openOverlay()"
                                data-picture="<%= data.pictures.join(',') %>"
                                data-building-name="<%= data.buildingName %>"
                                data-city="<%= data.city %>"
                                data-town="<%= data.town %>"
                                data-address="<%= data.address %>"
                                data-size="<%= data.size %>"
                                data-bedroom="<%= data.bedroom %>"
                                data-bathroom="<%= data.bathroom %>"
                                data-pool="<%= data.pool %>"
                                data-poolsize="<%= data.poolSize %>"
                                data-roomService="<%= data.roomService %>"
                                data-commentsText="<%= data.commentsText %>"
                                data-price="<%= data.price %>"
                                >
                                View
                            </button>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </main>
    <% } else { %>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-5 col-md-8 mx-auto">
                <h1 class="display-5 fw-bold lh-1 mb-3 text blueText"><u>There are no posts</u></h1>
            </div>
        </div>
    </section>
    <% } %>


    <div id="overlay" class="overlay" style="display: none;">
      <div class="overlay-content">
          <span class="close-btn" id="closeOverlay">&times;</span>
          <div id="overlayData">
              <!-- Dynamic data will be injected here -->
          </div>
      </div>
    </div>
  

    <!--Footer-->
    <%- include("partials/footer.ejs") %>
    <script src="/scripts/overlay.js"></script>
    <script src="/scripts/filter.js"></script>
</body>
</html>
